<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Schedule</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/style.css' %}">

</head>
<body>
<h1>Barber booking - weekly schedule</h1>

<!-- Add a form element to enclose the input fields -->
<form method="post" action="{% url 'booking:book_slot' week %}" id="scheduleForm" onsubmit="return validateForm()">
    {% csrf_token %}
    <!--    <input type="hidden" name="selected_day" id="selectedDay" value="">-->
    <!-- Input fields for name and email -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <input type="hidden" name="selected_day" id="selectedDay" value="">

    <div id="selectedDayDisplay"></div>
    <table class="schedule-table">
        <tr>
            <td class="time-slot-column">Monday</td>
            <td class="time-slot-column">Tuesday</td>
            <td class="time-slot-column">Wednesday</td>
            <td class="time-slot-column">Thursday</td>
            <td class="time-slot-column">Friday</td>
            <td class="time-slot-column">Saturday</td>
            <td class="time-slot-column">Sunday</td>
        </tr>
        <tr class="increased-height">
            {% for value in is_booked %}
            <td class="day-column">
                {% if value != 'Booked' %}
                <a href="#" onclick="selectDay('{{ value }}', {{ forloop.counter0 }}); return false;">{{ value }}</a>
                {% else %}
                <span>{{ value }}</span>
                {% endif %}
            </td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
    </table>

    <!-- Add a submit button to submit the form -->
    <input type="submit" value="Submit" class="submit-button">
</form>

<script>
    function selectDay(day, index) {
            // Set the selected day in the hidden input field
            // document.getElementById('selectedDay').value = day;

            var daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            // Retrieve the day with the given index
            var clickedDay = daysOfWeek[index];
            document.getElementById('selectedDay').value = index;

            // Display the selected day for user reference
            document.getElementById('selectedDayDisplay').innerText = 'Selected Day: ' + clickedDay;
        }
    function validateForm() {
        // Get the value of the hidden input field
        var selectedDayValue = document.getElementById('selectedDay').value;
        // Check if the value is empty
        if (selectedDayValue.trim() === '') {
            // Display an error message or take appropriate action
            alert('Please select a day before submitting the form.');
            return false; // Prevent form submission
        }
        // The value is not empty, allow form submission
        return true;
    }
</script>
</body>
</html>
